#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.card {
    display: grid;
    align-items: end;
    border-radius: 1rem;
    border-left: 1rem solid brown;
}
