:root {
    --clr-bookmark: #75372d;
    --clr-bg2: #96a782;
    --clr-bg: #d4ce9e;
    --clr-greenish: #928854;
    --clr-danger: #d8523d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-greenish);
    padding: 1rem 4rem;

    h1 {
        font-size: 4rem;
    }
}

#show-dialog {
    align-self: flex-end;
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 6rem;

    &&:hover {
        background-color: var(--clr-bg2);
    }
}

#modal-dialog {
    margin: auto;
}

#add-book {
    font-weight: bold;

    h2 {
        background-color: var(--clr-greenish);
        padding: 1rem 2rem;

    }
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 4rem;
    height: 14rem;
}

.card {
    display: grid;
    align-content: space-between;
    border-radius: 1rem;
    border-left: 1rem solid var(--clr-bookmark);
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0, 0.6);

    &&:hover {
        background-color: var(--clr-bg);
    }
}

.modal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem 2rem;
}

.modal-actions {
    text-align: end;
    padding: 1rem;

    button {
        padding: 0.2rem 1rem;
    }
}

.icon {
    width: 10%;
    margin-left: 1rem;

    &&:hover {
        cursor: pointer;
    }
}

.book-actions {
    text-align: end;

    :nth-child(1):hover {
        background-color: var(--clr-greenish);
    }

    :nth-child(2):hover {
        background-color: var(--clr-danger);
    }
}