:root {
    --clr-bookmark: #75372d;
    --clr-bg2: #96a782;
    --clr-bg: #d4ce9e;
    --clr-greenish: #928854;
    --clr-danger: #d8523d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-greenish);
    padding: 1rem 4rem;

    h1 {
        font-size: 4rem;
    }
}

.btn-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#show-dialog {
    align-self: flex-end;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;

    &:hover {
        background-color: var(--clr-bg2);
    }

    .icon {
        width: 3rem;
        margin-left: 0;
    }
}

#modal-dialog {
    margin: auto;
}

#add-book {
    font-weight: bold;

    h2 {
        background-color: var(--clr-greenish);
        padding: 1rem 2rem;
    }
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 4rem;
    min-height: 14rem;
}

.card {
    display: grid;
    align-content: space-between;
    min-height: 12rem;
    border-radius: 1rem;
    border-left: 1rem solid var(--clr-bookmark);
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);

    &:hover {
        background-color: var(--clr-bg);
    }
}

.modal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem 2rem;
}

.modal-actions {
    text-align: end;
    padding: 1rem;

    button {
        padding: 0.2rem 1rem;
    }
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;

    &:hover {
        cursor: pointer;
    }
}

.book-actions {
    text-align: end;

    .icon:nth-child(1):hover {
        background-color: var(--clr-greenish);
        border-radius: 50%;
    }

    .icon:nth-child(2):hover {
        background-color: var(--clr-danger);
        border-radius: 50%;
    }
}